@import 'src/assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		> svg {
			fill: #fff;
			font-size: 29px;
		}

		&:hover,
		&:active {
			/* Анимация для изменения цвета иконки при наведении и клике */
			svg > path {
				fill: $accent; /* Используйте переменную с нужным цветом */
				transition: fill 0.4s ease; /* Добавьте плавный переход */
			}
		}
	}
}
